.list tr {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d9d9d9;
    padding: 20px;
}

.list {
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
}

.infoLabel {
    display: block;
    opacity: .9;
    font-size: 13px;
    text-align: right;
}

@media (max-width: 767px) {
    .infoLabel {
        text-align: left;
    }
}
