.logo {
  font-size: 1.2rem !important;
  /* margin-left: 1rem !important; */
}

.logoModal {
  font-size: 1.2rem !important;
}

.thumbs {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.thumbsLeft {
  font-size: 1.2rem;
}
